{% extends "FrontEndBundle::Layout.html.twig" %}


{% block body %}
    <style>
        label {
            font-size: 15px;
            color: #9e9e9e;
        }
    </style>
    <section id="slider">
        <div class="static-banner relative ">
            <div class="overlay blue-overlay-5"></div>
            <div class="page-head">
                <h2 class="page-title">Annonce CoLocation</h2>
                <ul class="page-title-btn">
                    <li><a href="http://www.codepixar.com/educare/php/01-home-university.php" target="_blank">Home <i
                                    class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="active">Creer</a></li>
                </ul>
            </div>
        </div>


    </section>
    {#{{ form(myform) }}#}
    <div class="row">


        <div class="col-sm-offset-1 col-sm-4">
            {{ form_start(myform) }}
            <div class="row">{{ form_row(myform.address) }}</div>
            <div class="row">{{ form_row(myform.dimensions) }}</div>
            <div class="row">{{ form_row(myform.maxCoLocataire) }}</div>
            <div class="row">{{ form_row(myform.loyer) }}</div>
            <div class="row" id="annoncebundle_annoncecolocation_photos"
                 data-prototype="{#{{  form_start(myform.photos.vars.prototype) | e('html_attr') }}#}
                                  <div class='row'>
                                  {{ form_widget(myform.photos.vars.prototype.file , {'attr' : {'class' : 'col-sm-8'}}) | e('html_attr') }}
                                  <div class = 'col-sm-1' id='del'></div>
                                  {#{{ form_end(myform.photos.vars.prototype) | e('html_attr') }}#}

                                  </div>
                                  ">


                {{ form_label(myform.photos) }}
                {{ form_errors(myform.photos) }}

                {{ form_widget(myform.photos) }}

            </div>
            <div class="row">
                <button href="#" id="add_photo" class="btn btn-default col-sm-offset-8">Ajouter une photo</button>
            </div>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type="application/ecmascript">
                $(document).ready(function () {
                    var $container = $('#annoncebundle_annoncecolocation_photos');
                    var index = $container.find(':input').length;
                    $('#add_photo').click(function (e) {
                        addPhoto($container);

                        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                        return false;
                    });
                    if (index == 0) {
                        addPhoto($container);
                    } else {
                        // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                        $container.children('div').each(function () {
                            addDeleteLink($(this));
                        });
                    }

                    // La fonction qui ajoute un formulaire CategoryType
                    function addPhoto($container) {
                        // Dans le contenu de l'attribut « data-prototype », on remplace :
                        // - le texte "__name__label__" qu'il contient par le label du champ
                        // - le texte "__name__" qu'il contient par le numéro du champ
                        var template = $container.attr('data-prototype')
                            .replace(/__name__label__/g, 'Photo n°' + (index + 1))
                            .replace(/__name__/g, index)
                        ;

                        // On crée un objet jquery qui contient ce template
                        var $prototype = $(template);

                        // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                        addDeleteLink($prototype);

                        // On ajoute le prototype modifié à la fin de la balise <div>
                        $container.append($prototype);

                        // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                        index++;
                    }


                    function addDeleteLink($prototype) {
                        // Création du lien
                        var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                        // Ajout du lien
                        //$prototype.append($deleteLink);
                        $prototype.find('#del').append($deleteLink);

                        // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                        $deleteLink.click(function (e) {
                            $prototype.remove();

                            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                            return false;
                        });
                    }

                    addDeleteLink($('#annoncebundle_annoncecolocation_photos___name__'));

                });
            </script>

            {{ form_row(myform.Envoyer) }}

            {{ form_end(myform) }}
        </div>
        <div class="col-sm-offset-1 col-sm-6">
            <div id="map"></div>

        </div>
    </div>

{% endblock body %}
    {% block javascript %}

        <script>
            $(document).ready(function () {
                google.maps.event.trigger(document.map, 'resize');

            });

            function initMap() {


                var uluru = {lat: 0, lng: 0};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
                document.map = map;


                google.maps.event.addListener(map, 'click', function (event) {
                    $("#annoncebundle_annoncecolocation_address_lat").val(event.latLng.lat)
                    $("#annoncebundle_annoncecolocation_address_lng").val(event.latLng.lng);
                    if (document.marker) {

                        document.marker.setPosition(event.latLng);

                    }
                    else {
                        document.marker = new google.maps.Marker({
                            position: event.latLng,
                            map: map,


                        });
                    }

                })
            }


        </script>
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHNXbp0BpK9Futvfizwveh1P0Xi-MbM-k&callback=initMap">
        </script>

    {% endblock javascript %}

