{% extends "FrontEndBundle::Layout.html.twig" %}

{% block body %}
<section id="slider">
    <div class="static-banner relative">
        <div class="overlay blue-overlay-5"></div>
        <div class="page-head">
            <h2 class="page-title">Annonce CoLocation</h2>
            <ul class="page-title-btn">
                <li><a href="http://www.codepixar.com/educare/php/01-home-university.php" target="_blank">Home <i
                                class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                <li><a href="#" class="active">Lister</a></li>
            </ul>
        </div>
    </div>


</section>

{%  for e in list %}
    <div class="single-status-post mt-20 flex">

        <div class="user-post-details">
            <div class="name-details flex space-between flex-wrap no-flex-xs">
                <h4 class="name"><a href="#">{{ e.owner.username }}</a></h4>
                <div class="details">
                    <a href="#">{{ e.creationDate | date('d-m-y') }}</a>
                    <a href="{{ path("annonce_CoLocation_View",{'id' : e.id}) }}">Afficher</a>
                    <a href="{{ path("annonce_CoLocation_Edit",{'id' : e.id }) }}">Editer</a>
                    <a href="{{ path("annonce_CoLocation_Delete",{'id' : e.id }) }}">Supprimer</a>
                </div>
            </div>
            Dimensions : {{ e.dimensions }}<br>
            Loyer : {{ e.loyer }}<br>
            nombre max de colocataire : {{ e.maxCoLocataire }} <br>
        </div>
    </div>
    {% endfor %}
{#
{% for e in list %}
    <div class="col-sm-offset-2 col-sm-8">
    <div class="single-list-course row no-gutter">



    Creer Le : {{ e.creationDate|date("y-m-d") }}<br>
    </div>
    </div>
{% endfor %}
#}
{% endblock body %}