
{% extends 'FrontEndBundle::Layout.html.twig' %}
{% block body %}
<section id="slider">
    <div class="static-banner relative">
        <div class="overlay blue-overlay-5"></div>
        <div class="page-head">

            <h2 class="page-title">Revision</h2>
            <ul class="page-title-btn">
                <li><a href="http://www.codepixar.com/educare/php/01-home-university.php" target="_blank">Home <i
                                class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                <li><a href="#" class="active">Department List</a></li>


            </ul> <br>
        </div>
    </div>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
</section>
{% endblock body %}
