{% extends 'FrontEndBundle:Club:ClubAccueil.html.twig' %}


{% block title %}| Evenement{% endblock title %}
{% block nome %}
    ListClub
{% endblock nome %}
{% block club %}<i class="fa fa-caret-right" aria-hidden="true"></i><a href="#">{{ club.libelle }}</a>{% endblock %}


{% block modifier %}
    <li>
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <a href="#" class="active">Ajouter Evenement</a>
    </li>
{% endblock %}


{% block list %}
    <style>
        label {
            font-size: 15px;
        }

        .form-control {
            background-color: transparent;
            color: white;
            border-radius: 2px;
            border-color: #9e9e9e;
        }

        .cta-1 .cta-content .btn {

            margin-top: 15px;
        }

    </style>



    <section class="cta-1 cta2 ct3">
        <div class="cta-bg2 relative">
            <div class="overlay cta-overlay-bg-blue"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cta-content">

                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                                <div class="row">
                                    <h3 class="text-center mb-40 primary-color fz-24">Ajouter</h3>
                                    <div class="col-sm-offset-1 col-sm-5 col-xs-12">
                                        <p>{{ form_label(form.Libelle) }}</p>
                                        <p>{{ form_widget(form.Libelle) }}</p>
                                        <p>{{ form_label(form.description) }}</p>
                                        <p>{{ form_widget(form.description) }}</p>


                                    </div>
                                    <div class="col-sm-5 col-xs-12">

                                        <p>{{ form_label(form.type) }}</p>
                                        <p>{{ form_widget(form.type) }}</p>
                                        <p>{{ form_label(form.pathImg) }}</p>
                                        <p>{{ form_widget(form.pathImg) }}</p>

                                    </div>
                                    <div class="col-sm-4  col-sm-offset-4">
                                        <p></p>
                                        <p>{{ form_label(form.date) }}</p>
                                        <p>{{ form_widget(form.date) }}</p>

                                    </div>
                                </div>

                                <div class="row">

                                    <p class="text-center">{{ form_widget(form.Ajouter) }}</p>

                                </div>


                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}