{% extends 'FrontEndBundle::Layout.html.twig' %}
{% block body %}

    <section id="slider">
        <div class="static-banner relative">
            <div class="overlay blue-overlay-5"></div>
            <div class="page-head">

                <h2 class="page-title">Revision</h2>
                <ul class="page-title-btn">
                    <li><a href="http://www.codepixar.com/educare/php/01-home-university.php" target="_blank">Home <i
                                    class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="active">Department List</a></li>


                </ul> <br>
            </div>
        </div>
    </section>


    <div><HR size=4 align=center width="100%"> </div>

    <div class="rox">
        <div class="footer-widget-contact">





            <section class="cta-1 cta2 cta3">
                <div class="cta-bg2 relative"  data-velocity=".2">
                    <div class="overlay cta-overlay-bg-blue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="cta-content">
                                    <form action="#" class="cta-register" method="POST">
                                        <div class="row">
                                            <h3 class="text-center mb-40 primary-color fz-24">Modifier Les informations du groupe </h3>
                                            <div class="col-sm-offset-1 col-sm-5 col-xs-12">
                                                <p>   <input type="text" name="matiere" placeholder="{{ Revision.matiere }}" value="{{ Revision.matiere }}"  >       <p> <input type="date" name="datedebut" placeholder="{{ Revision.datedebut|date('Y-m-d\\TH:i:sP')}}" value="{{ Revision.datedebut|date('Y-m-d\\TH:i:sP')}}"></p>    </p>

                                                <p> <input type="date" name="datefin" placeholder="{{ Revision.datefin|date('Y-m-d\\TH:i:sP')}}" value="{{ Revision.datefin|date('Y-m-d\\TH:i:sP')}}" ></p>
                                                <p> <input type="text" name="description" placeholder="description" value="{{ Revision.description }}"></p>
                                                <p> <input type="text" name="nbremax" placeholder="{{ Revision.nbremax }}" value="{{ Revision.nbremax }}"></p>
                                                <p> <input type="text" name="type" placeholder="{{ Revision.type }}" value="{{ Revision.type }}"></p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <p class="text-center"><button class="submit-btn">Modifier</button></p>        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </div>
    </section>

    </div>
    </div>
    <div>





    </div>
    <div></div>
{% endblock body %}